## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:
1) Warm Up
2) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Create book dictionary and access values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Modifying and Looping Dictionaries  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Dictionaries <br>
3) Dictionaries vs. Lists (over time)<br>
4) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) .clear() <br>
5) Frozenset <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
6) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [31]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(444) 444-4444'),
    ('321 Cool St', 'Zooey', '(234) 432-7586', 'Smith')
]

def get_phone_number(name):
    for i in address_book:    
        if i[0] == name or i[1] == name or f"{i[0]} {i[1]}" == name:
            return i[3]
    return -1
        
get_phone_number('Tevin')

'(333) 333-3245'

In [32]:
get_phone_number('Hank')

'(555) 555-1234'

In [33]:
get_phone_number('Brian')

-1

In [34]:
get_phone_number('Robby')

'(444) 444-4444'

In [35]:
get_phone_number('Klaven')

'(555) 555-4321'

In [36]:
get_phone_number('Sydney Fife')

'(222) 222-6789'

In [38]:
get_phone_number('Smith')

-1

In [20]:
def main():
    look_up = input('Who are you looking for? ')
    phone = get_phone_number(look_up)
    print(f"{look_up}'s phone number is {phone}")

In [22]:
main()

Who are you looking for? Sydney
Sydney's phone number is (222) 222-6789

In [ ]:
def get_phone_number(name):
    for first, last, address, phone in address_book:    
        if first == name or last == name or f"{first} {last}" == name:
            return phone
    return -1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [41]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>

In [42]:
d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}

print(d3)
print(type(d3))

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>

In [43]:
d4 = dict(name='Brian', age=66, city='Chicago')
print(d4)
print(type(d4))

{'name': 'Brian', 'age': 66, 'city': 'Chicago'}
<class 'dict'>

In [45]:
def a_string():
    return ''

x = a_string()

y = ''

print(x)
print(y)

##### Accessing Values

In [55]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

In [59]:
print(d3)

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}

In [52]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [53]:
print(d3['Sydney'])

555 Santa Monica Blvd

In [56]:
print(d3['Brian'])

KeyError: 'Brian'

##### .get()

In [57]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [62]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Travis'))
print(d3.get('Travis', 'No Address Available'))
print(d3.get('Peter', 'No Address Available'))

321 Fake Street
None
No Address Available
321 Fake Street

In [65]:
# Accessing values is always done by key! - NO CONCEPT OF INDEX!

# print(d3[0]) # Thinks you are looking for a key 0

In [68]:
me = {
    'name': 'Brian',
    'age': 88,
    'city': 'Chicago'
}


print(me.get('age', 'N/A'))
print(me.get('height', 'N/A'))

88
N/A

In [70]:
a_var = 'test'

my_dict = {a_var:123}

print(my_dict)

{'test': 123}

In [71]:
b_var = 'another test'

my_other_dict = {'a': b_var}

print(my_other_dict)

{'a': 'another test'}

## In-Class Exercise #1
Create a dictionary called `favorite_book` that has keys `title`, `author`, `genre`, and `rating` (number out of 100). Then create a variable called `statement` that is a formatted string saying "My favorite book is `title` by `author` which I would give a `rating` out of 100"

In [76]:
favorite_book = {
    'title': 'The Outsiders',
    'author': 'S.E. Hinton',
    'genre': 'Coming of Age',
    'rating': 95
}

statement = f"My favorite book is {favorite_book['title']} by {favorite_book.get('author', 'Anonymous')} \
which I give a {favorite_book['rating']} out of 100"

print(statement)
# Output: "My favorite book is The Outsiders by S.E. Hinton which I would give a 96 out of 100"

My favorite book is The Outsiders by S.E. Hinton which I give a 95 out of 100

In [77]:
favorite_book2 = dict(title='The Outsiders', author='S.E. Hinton', genre='Coming of Age', rating=95)
print(favorite_book2)

{'title': 'The Outsiders', 'author': 'S.E. Hinton', 'genre': 'Coming of Age', 'rating': 95}

##### Adding New Pairs

In [78]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [80]:
# dict[key] = value

d3['Zooey'] = '456 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '456 Main Street'}

##### Modifying Values

In [81]:
# dict[key] = value
d3['Zooey'] = '654 Second Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '654 Second Street'}

##### Removing Key, Value Pairs

In [88]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(colors)

del colors[2]

print(colors)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['red', 'orange', 'green', 'blue', 'indigo', 'violet']

In [89]:
print(colors)

last_element = colors.pop()

print(colors)
print(last_element)

['red', 'orange', 'green', 'blue', 'indigo', 'violet']
['red', 'orange', 'green', 'blue', 'indigo']
violet

In [90]:
print(colors)

third_element = colors.pop(2)

print(colors)
print(third_element)

['red', 'orange', 'green', 'blue', 'indigo']
['red', 'orange', 'blue', 'indigo']
green

In [83]:
# del dict[key]
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '654 Second Street'}

In [84]:
del d3['Tevin']

In [85]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '654 Second Street'}

In [86]:
# dict.pop('key') - remove key,value pair - returns value back to caller
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [91]:
removed_value = d3.pop('Zooey')

print(d3)

print(removed_value)

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
654 Second Street

In [93]:
# If the key is not in the dictionary, you can add a second argument for the default return value
removed_value = d3.pop('Zooey', 'Not In Dictionary')

print(d3)

print(removed_value)

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
Not In Dictionary

##### Looping a Dictionary

In [94]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [96]:
# .items()
print(d3)
print(d3.items())

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])

In [98]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [102]:
for name, address in d3.items():
    print(f"Key: {name} Value: {address}")

Key: Hank Value: 123 Real Street
Key: Peter Value: 321 Fake Street
Key: Sydney Value: 555 Santa Monica Blvd

In [103]:
for key, val in d3.items():
    print(key, val)

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd

##### Looping Only Keys

In [104]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [105]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Peter', 'Sydney'])

In [106]:
for key in d3.keys():
    print(key)

Hank
Peter
Sydney

In [107]:
# Looping over a dictionary, it will loop through only the keys
for item in d3:
    print(item)

Hank
Peter
Sydney

In [108]:
# you can ALWAYS access the value in a dictionary from its key
for k in d3:
    print(k, d3[k])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd

##### Looping Only Values

In [109]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [110]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [111]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

In [113]:
# While you can always access a value from the key, doing the opposite is not so easy

value = '123 Real Street'

for key, val in d3.items():
    if val == value:
        print(key)

Hank

## In-Class Exercise #2
Modify your `favorite_book` dictionary from Exercise 1. Change the `rating` to a string with a grade rating ('B+' instead of 88). After you update, loop through the dictionary and log each key value pair in the format of `Key: Value`

In [114]:
print(favorite_book)

{'title': 'The Outsiders', 'author': 'S.E. Hinton', 'genre': 'Coming of Age', 'rating': 95}

In [130]:
# Modify the 'rating' value
favorite_book['rating'] = 'A+'
print(favorite_book)

{'title': 'The Outsiders', 'author': 'S.E. Hinton', 'genre': 'Coming of Age', 'rating': 'A+'}

In [131]:
# Example Output:

# Title: The Outsiders
# Author: S.E. Hinton
# Genre: Coming of Age
# Rating: A+

In [132]:
for item in favorite_book.items():
    print(f"{item[0].title()}: {item[1]}")

Title: The Outsiders
Author: S.E. Hinton
Genre: Coming of Age
Rating: A+

In [133]:
for key, value in favorite_book.items():
    print(f"{key.title()}: {value}")

Title: The Outsiders
Author: S.E. Hinton
Genre: Coming of Age
Rating: A+

In [134]:
for x in favorite_book:
    print(f"{x.title()}: {favorite_book[x]}")

Title: The Outsiders
Author: S.E. Hinton
Genre: Coming of Age
Rating: A+

In [135]:
for key in favorite_book.keys():
    print(f"{key.title()}: {favorite_book[key]}")

Title: The Outsiders
Author: S.E. Hinton
Genre: Coming of Age
Rating: A+

##### List with Dictionaries

In [136]:
my_list = [1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2, 'c': 3}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2, 'c': 3}]

In [141]:
print(my_list[6], type(my_list[6]))
print(my_list[6]['b'])
print(my_list[6].get('c'))

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>
2
3

In [143]:
# print(my_list['b']) # TypeError: list indices must be integers or slices, not str

##### List of Dictionaries

In [150]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019},
    {'director': 'Martin Scorsese', 'title': 'The Departed'}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}, {'director': 'Martin Scorsese', 'title': 'The Departed'}]

In [152]:
for m in movies:
    print(f"Title: {m.get('title')} - Directed By: {m.get('director')} - {m.get('release_year', 'Unknown')}")

Title: Inception - Directed By: Christopher Nolan - 2010
Title: The Social Network - Directed By: David Fincher - 2010
Title: Parasite - Directed By: Bong Joon Ho - 2019
Title: The Departed - Directed By: Martin Scorsese - Unknown

In [158]:
address_book = [
    {'first': 'Hank', 'last': 'Mardukas', 'address': '123 Real Street', 'phone': '(555) 555-1234'},
    {'first': 'Sydney', 'last': 'Fife', 'address': '555 Santa Monica Drive', 'phone': '(222) 222-6789'},
    {'first': 'Peter', 'last': 'Klaven', 'address': '321 Fake Street', 'phone': '(555) 555-4321'},
    {'first': 'Robby', 'phone': '(234) 432-3456'},
    {'address': '456 Main Street', 'last': 'Smith', 'phone': '(456) 678-9102', 'first': 'Zooey'}
]

def get_phone_number(name):
    for person in address_book:    
        if person.get('first') == name or person.get('last') == name or f"{person.get('first')} {person.get('last')}" == name:
            return person.get('phone')
    return -1

In [159]:
get_phone_number('Hank')

'(555) 555-1234'

In [160]:
get_phone_number('Robby')

'(234) 432-3456'

In [161]:
get_phone_number('Zooey')

'(456) 678-9102'

##### Dictionaries with Lists

In [168]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
data = {
    'my_list': [10, 20, 30],
    0: ['a', 'b', 'c']
}


print(data)
print(data['my_list'])
print(data[0]) # this is NOT an index - this is accessing the key 0
print(data['my_list'][1])
data['my_list'].append(40)
print(data)

{'my_list': [10, 20, 30], 0: ['a', 'b', 'c']}
[10, 20, 30]
['a', 'b', 'c']
20
{'my_list': [10, 20, 30, 40], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [170]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])

In [176]:
print(my_shoppe['ice_cream']['chocolate'])
print(my_shoppe['milkshake']['oreo'])
print(my_shoppe.get('ice_cream').get('vanilla'))

2.99
4.49
2.99

In [177]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [188]:
# How many years did Jimmy Smith work at AlphaInc?

total_years = len(job_app['experience'][1]['years_at_company'])

print(f"{job_app['full_name']} spent {total_years} years at {job_app['experience'][1]['company']}")

Jimmy Smith spent 2 years at AlphaInc

In [189]:
import requests

In [203]:
res = requests.get('https://pokeapi.co/api/v2/pokemon/pikachu')
data = res.json()

In [204]:
for move in data['moves']:
    print(move['move']['name'])

mega-punch
pay-day
thunder-punch
slam
double-kick
mega-kick
headbutt
body-slam
take-down
double-edge
tail-whip
growl
surf
submission
counter
seismic-toss
strength
thunder-shock
thunderbolt
thunder-wave
thunder
dig
toxic
agility
quick-attack
rage
mimic
double-team
defense-curl
light-screen
reflect
bide
swift
skull-bash
flash
rest
substitute
thief
snore
curse
reversal
protect
sweet-kiss
mud-slap
zap-cannon
detect
endure
charm
rollout
swagger
spark
attract
sleep-talk
return
frustration
dynamic-punch
encore
iron-tail
hidden-power
rain-dance
rock-smash
uproar
facade
focus-punch
charge
helping-hand
brick-break
knock-off
endeavor
secret-power
fake-tears
signal-beam
covet
volt-tackle
calm-mind
shock-wave
natural-gift
feint
fling
magnet-rise
nasty-plot
discharge
captivate
grass-knot
charge-beam
electro-ball
round
echoed-voice
volt-switch
electroweb
wild-charge
disarming-voice
draining-kiss
play-rough
play-nice
confide
eerie-impulse
electric-terrain
nuzzle
laser-focus
rising-voltage
tera-blast
trailblaze
alluring-voice
upper-hand

In [206]:
# List Comprehension
# [transform iterable filter]

evens = []
for num in range(1,51):
    if num % 2 == 0:
        evens.append(num)
print(evens)

evens2 = [num for num in range(1,51) if num % 2 == 0]
print(evens2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [208]:
# Dictionary Comprehension
# {transform key:value iterable filter}

squared_loop_dict = {}
for num in range(1,21):
    if num % 2 == 0:
        squared_loop_dict[str(num)] = num**2
        
print(squared_loop_dict)

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100, '12': 144, '14': 196, '16': 256, '18': 324, '20': 400}

In [209]:
squared_comp_dict = {str(num): num**2 for num in range(1,21) if num % 2 == 0}
print(squared_comp_dict)

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100, '12': 144, '14': 196, '16': 256, '18': 324, '20': 400}

## Dictionaries vs. Lists (over time) Example of RUNTIME

In [211]:
small_dict = {i: 'value' for i in range(10)}
small_list = [x for x in range(10)]

print(small_dict)
print(small_list)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [214]:
time.time()

1709239946.7588353

In [221]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary) # Check if the dictionary has the key 9999999

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list) # Check if the value 9999999 is in the list

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.001672983169555664
True
Elapsed time for list: 1.2301979064941406

In [223]:
'blue' in colors

True

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [224]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [225]:
second_set = {3, 1, 5, 56}
print(second_set)
print(type(second_set))

{56, 1, 3, 5}
<class 'set'>

In [226]:
empty_set = {} # This will create an empty Dictionary!!
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [227]:
third_set = {1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4}
print(third_set)

{1, 2, 3, 4}

In [228]:
# Sets are iterable
for element in third_set:
    print(element)

1
2
3
4

In [229]:
# Sets are unordered and unlike dictionaries, python does not remember the order
for x in second_set:
    print(x)

56
1
3
5

##### .add()

In [230]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [232]:
third_set.add(55)
print(third_set)

{1, 2, 3, 4, 55}

In [233]:
third_set.add(1)
print(third_set)

{1, 2, 3, 4, 55}

##### .remove()

In [234]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [236]:
third_set.remove(2)
print(third_set)

{1, 3, 4, 55}

In [237]:
third_set.remove(123)
print(third_set)

KeyError: 123

##### .union()

In [238]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [240]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR 

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [241]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [243]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR 

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [244]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [248]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR 

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [249]:
# Empties the whole set
# set.clear()
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [250]:
nums = {3, 5, 1, 7, 9, 2}

print(nums)

nums.clear()

print(nums)

{1, 2, 3, 5, 7, 9}
set()

In [254]:
user_input = input('Enter something: ')

vowel_count = 0
vowels = {'e', 'a', 'u', 'i', 'o'}
for letter in user_input:
    if letter.lower() in vowels:
        vowel_count += 1
        
print(f"There are {vowel_count} vowels in '{user_input}'")

Enter something: A set is a better option when checking for membership
There are 16 vowels in 'A set is a better option when checking for membership'

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [ ]:
# frozensets:sets :: tuples:lists

In [255]:
# frozenset([])
s3

{1, 2, 3, 4, 5, 6}

In [256]:
my_frozen_set = frozenset(s3)
print(my_frozen_set)
print(type(my_frozen_set))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

In [257]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [258]:
my_frozen_set.add(8)

AttributeError: 'frozenset' object has no attribute 'add'

In [259]:
my_frozen_set.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [263]:
# Since frozensets are immutable (i.e. hashable), it can be used as dictionary keys or set values

super_cool_dict = {
    (1, 2, 3): 'a',
    frozenset({'a', 'b'}): 123
}

In [265]:
print(super_cool_dict[(1, 2, 3)])
print(super_cool_dict[frozenset({'a', 'b'})])

a
123

In [272]:
# All set values must be hashable
my_set = {1, 2, 3, 'hello', (4, 5, 6), frozenset({'a', 'b'})}
print(my_set)

{1, 2, 3, 'hello', frozenset({'a', 'b'}), (4, 5, 6)}

In [275]:
my_name = 'Brian Stanton'

my_name[0] = 'C'

TypeError: 'str' object does not support item assignment

## Sets vs. Lists (over time) Example of RUNTIME

In [278]:
# Set Comprehension - Same thing as list comprehension but {} instead of []

small_set = {x for x in range(10)}
print(small_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [279]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [282]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0017838478088378906
True
Elapsed time for list: 2.3603718280792236

# Exercises

### 1) Address Book


Develop a user-friendly program that acts as an address book. The program should have the following functionalities:

1. Upon starting the program, create an empty dictionary to store names and addresses.

2. Allow the user to add people to the address book. For each entry, prompt the user to input a name and its corresponding address. Store these as key-value pairs in the dictionary.

3. Provide a clear and straightforward menu for the user, including options to add a new entry or quit the program.

4. Implement a loop that allows users to continue adding entries until they explicitly choose to quit.

5. When the user decides to quit, break out of the loop and display the collected information. Print out the names and addresses of everyone in the address book in a well-formatted manner.

6. Consider adding error handling to handle unexpected inputs gracefully. For instance, if the user provides invalid input when prompted for a name or address, handle the error and ask for the information again.

7. Provide a user-friendly and informative message when the program terminates, summarizing the data entered and thanking the user for using the address book.

In [1]:
def my_program():
    address_book = {}
    
    while True:
        Add = input("What do you want? Add/Remove/Quit ").lower()
        
        if Add == 'quit':
            break
            
        elif Add == 'add':
            name = input("Enter name: ").title()
            address = input(f"Enter {name}'s address: ")
            address_book[name] = address
            
        elif Add == 'remove':
            remove = input("What name do you want to remove? ").title()
            remove_address = address_book.pop(remove, 'N/A')
            
            if remove_address == 'N/A':
                 print(f'{remove} is not in the address book')
            else:
                print(f'{remove} at {remove_address} has been removed')
                
    for name in address_book:
        print(f"{name} lives at {address_book[name]}")

In [3]:
my_program()

What do you want? Add/Remove/Quit add
Enter name: Daniel
Enter Daniel's address: seattle
What do you want? Add/Remove/Quit remove
What name do you want to remove? Daniel
Daniel at seattle has been removed
What do you want? Add/Remove/Quit add
Enter name: Daniel
Enter Daniel's address: Seattle
What do you want? Add/Remove/Quit Quit
Daniel lives at Seattle

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a set of times they are available ('HH:MM' 24-hour). Create a function that will take in any number of sets of available times (*remember \*args*) and return a set of times where everyone can meet.

In [5]:
person1 = {'09:00', '10:30', '11:30', '12:00', '13:00', '14:30'}
person2 = {'09:30', '10:00', '10:30', '12:00', '14:30', '16:00'}
person3 = {'09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00'}
person4 = {'11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00'}
# Available Times: '12:00' and '14:30'


def avail_times(*times):
    all_available = times[0]
    for time in times:
        all_available = all_available.intersection(time)     
    return all_available

In [17]:
avail_times(person1, person2, person3, person4)

{'12:00', '14:30'}